{% extends "base.html" %}
{% block title%}Tarif Duzenle{% endblock %}
{% block link %}
<script defer src="../static/js/bring.js"></script>
{% endblock %}
{% block link2 %}
{% endblock %}
{% block link3 %}
{% endblock %}
{% block link4 %}
{% endblock %}
{% block link5 %}
{% endblock %}
{% block header %}
<li class="mr-4"><a href="/account">Hesabın</a></li>
<li class="mr-2"><a href="/logout">Çıkış yap</a></li>
{% endblock %}
{% block content %}
<div>
    <main class="border w-3/4 mx-auto bg-[#FAC213] rounded mt-24">
        <div class="flex justify-center w-3/4 mx-auto my-4">
            <form action="{{url_for('update_recipe')}}" method="POST">
                <input id="update_input" type="text" name="query" placeholder="Hangi tarif?"
                    class="border px-4 py-2 rounded">
                <button id="find_button" class="btn text-white bg-red-600 w-24 mx-4">Getir</button>
            </form>
        </div>
    </main>
</div>

{% endblock %}